<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        div.field {
            padding-bottom: 5px;
        }

        div.field label {
            display: block;
            float: left;
            width: 70px;
            height: 15px;
        }
    </style>
    <title>Add User</title>
</head>
<body>
<p>add new user</p>
<form th:action="@{/admin/new}" th:method="POST" th:object="${user}">
    <div class="field">
        <label for="username">Name:</label>
        <input id="username" th:field="*{username}" type="text"/><br>
    </div>
    <div class="field">
        <label for="surname">Surname:</label>
        <input id="surname" th:field="*{surname}" type="text"/><br>
    </div>
    <div class="field">
        <input type="submit" value="Create"/>
    </div>
</form>
<br>
<a href="/logout">Logout</a>
</body>
</html>
