<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Users</title>
    <style>
        .main {
            width: 600px;
        }

        table {
            border-collapse: collapse;
            margin: 50px auto;
            text-align: center;
            width: 600px;
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
<div class="main">
    <table>
        <caption>Users</caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.surname}"></td>
            <td><a th:href="@{/admin/update/{id} (id=${user.id})}">edit</a></td>
            <td>
                <form th:action="@{/admin/delete/{id}(id=${user.id})}" th:method="DELETE">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/admin/new">add new user</a>
</div>
<br>
<a href="/logout">Logout</a>
</body>
</html>
